#container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; /* Ensures it is at least the size of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbcaca;
  border-color: #000000;
  border-width: 10px;
  border-style: solid;
}